*{
  margin: 0;
  padding: 0;
}
.header{
  background-color: tomato;
  display: flex;
  justify-content: space-between;
  height: 5rem;
}
ul{
  display: flex;
  padding-right: 30px;
  font-weight: bold;
}
li{
  margin: 30px;
  text-transform: uppercase;
  list-style: none;
}
.icon{
  height: 50px;
  width: 50px;
  padding: 20px 40px;
}
.header h2{
  padding-top: 20px;
  font-size: 40px;
}
.firstrow{
  display: flex;
  gap: 50px;
  margin: 100px;
}
.second-row{
  display: flex;
  gap: 50px;
}
.card{
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  background-color: bisque;
  width: 500px;
  text-align: center;
  align-content: center;

}
.card h2{
  font-size: 20px;
  text-transform: uppercase;
}
.card p{
  margin: 5px;
  font-size: 25px;

}
.card button{
  font-size: 20px;
  width: 150px;
  margin-left: 120px;
  background-color: darksalmon;
  color: white;
}
img{
  height: 400px;
  width: 400px;
  margin: 10px;
}
.products{
width: 900px;
margin: 50px auto;
display: flex;
flex-direction: column;
gap: 50px;
}

